.mainWindow{
  border-right: 2px solid #e6e6e6;
}

.chatWindow{
  border: 1px solid #e6e6e6;
  height: 75vh;
  overflow-y: scroll;
}

.chatMessage{
  margin: 1em;
}

.loginPage{
  height: 80vh;
  margin-top: 2em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}